
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">News Portal</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
           <li>
        <a href="./app-get-favourite" class="nav-link">Favourite </a>
        </li>
        <li>
                <a href="./app-registration" class="nav-link">Login </a>
                </li>
   
      </ul>
    
      <button type=submit class="btn btn-outline-primary" routerLink="/app-news">search</button>

        
    </div>
    </nav>
   

   <router-outlet></router-outlet>
   

   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <div class="news container ">
     <div class="row">
      
     </div>
   </div>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <footer>
        <div class="container-fluid bg-primary py-3">
       <div class="container">
         <div class="row">
           <div class="col-md-7">
               <div class="row py-0">
             <div class="col-sm-1 hidden-md-down">
                 <a class="bg-circle bg-info" href="#">
                   <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                 </a>
               </div>
               <div class="col-sm-11 text-white">
                   <div><h4>  Contact</h4>
                       <p>   <span class="header-font">N</span>e<span class="header-font">w</span>sportal.com</p>
                   </div>
               </div>
               </div>
           </div>
           <div class="col-md-5">
             <div class="d-inline-block">
               <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                 <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
       </a>
               </div>
               <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                 <a href="https://twitter.com/">
                   <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
               </div>
   
               <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                 <a href="https://www.linkedin.com/company/">
                   <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
               </div>
               <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                 <a href="https://www.google.com/">
                   <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
               </div>
             </div>
           </div>
         </div>
       </div>
       </div>
   </footer>
       <!--/.footer-->
   <p class="text-center"> Copyright © Avneesh 2014. All right reserved. </p>
       <!--/.footer-bottom--> 